<h2>Editar Usuario</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, :required => true, :autofocus => true,:label=>"Nombre de Usuario" %>
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>




    <%= f.input :email, :required => true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, :autocomplete => "off", :hint => "Dejar en blanco si no quieres cambiarla", :required => false %>
    <%= f.input :password_confirmation, :required => false , :label=>"Confirmacion de Password"%>
    <%= f.input :current_password, :hint => "Se necesita el password actual para confirmar cambios", :required => true , :label =>"Password Actual"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Actualizar",:class=>"btn btn-success" %> o <%= link_to "Atrás", :back %>

  </div>
<% end %>
